<div class="card-deck mt-5">
    <div class="card">
      
      <div class="card-body btn btn-light" routerLink="/database">
        <h5 class="card-title">Diccionario de datos</h5>
        <p class="card-text">Administración y gestión de datos institucionales</p>
        <p class="card-text"><small class="text-muted">Last updated 1 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      
      <div class="card-body btn btn-light" routerLink="/dominios">
        <h5 class="card-title">Gestor de Tableros/Aplicativos</h5>
        <p class="card-text">Herramienta de administracion y gestion de herramientas institucionales.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      
      <div class="card-body btn btn-light" routerLink="/documentos">
        <h5 class="card-title">Gestor de Dominios</h5>
        <p class="card-text">Herramienta de gestion de dominios institucionales.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <div class="card-deck mt-5">
    <div class="card">
      
      <div class="card-body btn btn-light" routerLink="/accesos">
        <h5 class="card-title">Administrador de accesos</h5>
        <p class="card-text">Administrador de usuarios y accesos de la herramienta.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      
      <div class="card-body btn btn-light" routerLink="/linaje">
        <h5 class="card-title">Linaje de Datos</h5>
        <p class="card-text">Visualizador del linaje de los datos institucionales.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      
      <div class="card-body btn btn-light" routerLink="/glosario">
        <h5 class="card-title">Glosario de Términos</h5>
        <p class="card-text">Glosario de términos institucionales.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>

  <div class="card-deck mt-5">
    <div class="card">
      
      <div class="card-body btn btn-light" routerLink="/cat-maestros">
        <h5 class="card-title">Administración de Catálogos Maestros</h5>
        <p class="card-text">Administración y gestión de catalogos maestros institucionales.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      
      <div class="card-body btn btn-light" routerLink="/cat-general">
        <h5 class="card-title">Catálogo General</h5>
        <p class="card-text">Visualizador general de contenido de la herramienta.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    
  </div>

